/*======Global layout secetion=======*/

* {
box-sizing: border-box;
}



.image {
  max-width: 100%;
}





/*====Header and navigation bar======*/

ul {
  list-style-type: none;
}

li {
  background: lightgrey;
  border: 1px solid black;
  border-radius: 10%;
  margin-bottom: 15px;
}



/*====Layout Contianers======*/

.wrapper {
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.introduction {
  background: grey;
}




/*=====Skills=====*/
