header {
  background-color: OldLace;
}
body {
  width: 100%;
}

ul {
  list-style-type: none;
}
header,
main {
  text-align: center;
}

main {
  background-color: white;
}

nav li {
  border: 1px solid black;
  margin-bottom: 20px;
  background-color: white;
  width: 50%;
  border-radius: 30%;
}

.Images {
  width: 100%;
}

p {
  font-size: 20px;
}

#Portfolio {
  font-size: 40px;
}

.about-me p {
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 50px;
}

.skills {
  background: lightgrey;
}

footer {
  background: lightgrey;
}

footer a {
  align: right;
}

.skills ul {
  padding: none;
}

h3 {
  font-family: 'Oswald', sans-serif;
}
