* {
  box-sizing: border-box;
}

h2,
h3 {
  font-family: 'Oswald', sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
  letter-spacing:
}


/*====Header styles====*/
header {
  max-width: 100%;
  background-color: lightgrey;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin-bottom: 30px;
}

.name,
nav li {
  text-align: center;
  margin-top: 6px;
  margin-bottom: 6px;
  list-style: none;
  padding: 0;
}

nav li {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-me p {
  padding-left: 25px;
  padding-right: 25px;
}

/*====Body Styles====*/
.Images {
  width: 100%;
}

body {
  text-align: center;
}


.skills li {
  list-style: none;
}

.skills {
  border: 1px solid grey;
}

.Contact {
  background-color: lightgrey;
}

.Col {
  margin-top: 75px;
  margin-bottom: 75px;
}

ul {
  padding: 0;
  margin-left: 30px;
  margin-right: 30px;
}


/*====Footer Styles====*/
footer {
  max-width: 100%;
  background-color: lightgrey;
  clear: both;
}

.bottom-name {
  float: left;
}

.top-link {
  float: right;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*===Media Quiries*/
@media (min-width: 768px) {

   .Col {
     max-width: 50%;
        float: right;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
   }


   .skills {
     width: 50%;
   }


}
